<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462784289656-m9kb3d7321lvrk09i8j97rqkufipl9th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462784289656-m9kb3d7321lvrk09i8j97rqkufipl9th</string>
	<key>API_KEY</key>
	<string>AIzaSyBqVyawHJBf43sUuc53xnACsas3BaoKWVs</string>
	<key>GCM_SENDER_ID</key>
	<string>462784289656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enouvocafe</string>
	<key>PROJECT_ID</key>
	<string>rb-base-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>rb-base-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462784289656:ios:0613c84f30bd869c72c68d</string>
	<key>DATABASE_URL</key>
	<string>https://rb-base-dev.firebaseio.com</string>
</dict>
</plist>